<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(アルバム一覧)}"></head>
<body>
  <div th:replace="~{layout :: header}"></div>
  <h3 class="text-center">アルバム一覧</h3>
  <table class="table table-striped table-bordered w-75 mx-auto">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>アーティスト</th>
        <th>リリース日</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="album : ${albums}">
        <td th:text="${album.albumId}"></td>
        <td th:text="${album.title}"></td>
        <td th:text="${album.artist}"></td>
        <td th:text="${album.releaseDate}"></td>
      </tr>
    </tbody>
  </table>

  <div th:replace="~{layout :: footer}"></div>
</body>
</html>