<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(アルバム一覧)}"></head>
<body>
  <div th:replace="~{layout :: header}"></div>
  <div class="w-50 mx-auto mt-4">
    <div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>
  </div>
  <h3 class="text-center">アルバム一覧</h3>

  <input type="text" class="form-control w-25 mx-auto mt-2 mb-2" id="title" name="title" th:value="${title}">

  <table class="table table-striped table-bordered w-75 mx-auto">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>アーティスト</th>
        <th>リリース日</th>
        <th>楽曲数</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="album : ${albums}">
        <td th:text="${album.albumId}"></td>
        <td><a th:text="${album.title}" th:href="@{/albums/{albumId}(albumId=${album.albumId})}"></a></td>
        <td th:text="${album.artist}"></td>
        <td th:text="${album.releaseDate}"></td>
        <td th:text="${album.musicCount}"></td>
        <td>
          <div class="d-flex">
            <form th:action="@{/albums/{albumId}/edit(albumId=${album.albumId})}" method="get">
              <button type="submit" class="btn btn-warning btn-sm mx-2">編集</button>
            </form>
            <form th:action="@{/albums/{albumId}/delete(albumId=${album.albumId})}" method="post">
              <button type="submit" class="btn btn-danger btn-sm mx-2">削除</button>
            </form>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div th:replace="~{layout :: footer}"></div>
  <script th:src="@{/js/albumSearch.js}"></script>
</body>
</html>