<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(アルバム詳細)}"></head>
<body>
    <div th:replace="~{layout :: header}"></div>
    <h3 class="text-center">アルバム詳細</h3>
    <table class="table table-bordered w-50 mx-auto shadow">
        <tr>
            <th class="table-light">アルバムID</th>
            <td th:text="${album.albumId}"></td>
        </tr>
        <tr>
            <th class="table-light">タイトル</th>
            <td th:text="${album.title}"></td>
        </tr>
        <tr>
            <th class="table-light">アーティスト</th>
            <td th:text="${album.artist}"></td>
        </tr>
        <tr>
            <th class="table-light">リリース日</th>
            <td th:text="${album.releaseDate}"></td>
        </tr>
        <tr>
            <th class="table-light">作成日時</th>
            <td th:text="${#temporals.format(album.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
    <h3 class="text-center">楽曲一覧</h3>
    <table class="table table-striped table-bordered w-75 mx-auto shadow">
        <thead class="table-light">
            <tr>
                <th>楽曲ID</th>
                <th>タイトル</th>
                <th>再生時間</th>
                <th></th>
            </tr>
        </thead>

        <tr th:each="music : ${musics}">
            <td th:text="${music.musicId}"></td>
            <td th:text="${music.title}"></td>
            <td th:text="${#temporals.format(music.duration, 'HH:mm:ss')}"></td>
            <td>
                <div class="d-flex">
                    <form th:action="@{/albums/{albumId}/musics/{musicId}/delete(albumId=${album.albumId}, musicId=${music.musicId})}" method="post">
                        <button type="submit" class="btn btn-danger btn-sm mx-2">削除</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <div class="d-flex justify-content-center gap-3">
        <a th:href="@{/albums/{albumId}/musics/new(albumId=${album.albumId})}" class="btn btn-primary mt-3 w-25">楽曲を追加</a>
        <a th:href="@{/albums}" class="btn btn-secondary mt-3 w-25">一覧に戻る</a>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>