<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(アルバム詳細)}"></head>
<body>
    <div th:replace="~{layout :: header}"></div>
    <h3 class="text-center">アルバム詳細</h3>
    <table class="table table-bordered w-50 mx-auto shadow">
        <tr>
            <th class="table-light">アルバムID</th>
            <td th:text="${album.albumId}"></td>
        </tr>
        <tr>
            <th class="table-light">タイトル</th>
            <td th:text="${album.title}"></td>
        </tr>
        <tr>
            <th class="table-light">アーティスト</th>
            <td th:text="${album.artist}"></td>
        </tr>
        <tr>
            <th class="table-light">リリース日</th>
            <td th:text="${album.releaseDate}"></td>
        </tr>
        <tr>
            <th class="table-light">作成日時</th>
            <td th:text="${#temporals.format(album.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
    <a th:href="@{/albums}">一覧に戻る</a>
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>